<section class="hero is-fullheight">
  <div class="container">
    <div class="hero-body has-text-centered">
      <div class="login">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDQ_ZJfLJpMMgIi5KePVvuq_kdchsklWTewg&usqp=CAU" width="325px" />
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.email_field :email, class: "input is-medium is-rounded", type: "email", placeholder: "hello@example.com", autocomplete: "email",  autofocus: true, required: true %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.password_field :password, class: "input is-medium is-rounded", type: "password", placeholder: "**********", autocomplete: "current-password", required: true  %>
            </div>
          </div>
          <br />
          <button class="button is-block is-fullwidth is-danger is-medium is-rounded" type="submit">
            Login
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
          </button>
        <% end %>
        <br>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <a href=<%= new_user_password_path %>>Forgot Password?</a>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <a href=<%= new_user_registration_path %>>Create an Account</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>