<section class="section">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <h1 class="title">Products</h1>
    <h2 class="subtitle">
      A simple products index page
    </h2>
    <table class="table is-bordered is-hoverable is-fullwidth is-striped" >
      <thead>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Actions</th>
      </tr>
      </tfoot>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> <%= product.id %></td>
          <td> <%= product.name %></td>
          <td>
            <div class="field is-grouped">
              <p class="control">
                <button class="button is-small is-warning"><%= link_to 'Show', product %></button>
              </p>
              <p class="control">
                <button class="button is-small is-link"><%= link_to 'Edit', edit_product_path(product) %></button>
              </p>
              <p class="control">
                <button class="button is-small is-danger"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </p>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="container mt-5">
    <button class="button is-info"><%= link_to 'New Product', new_product_path %></button>
  </div>
</section>